.add-property {
    width: 75%;
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid black;
  margin: 30px auto auto auto;
}

.property-form {
    display: flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: auto;
    
}

label {
    margin-right: 4px;
    font-size: 2em;
    margin-top: 2px;
}

input {
    display: block;
    height: 50px;
    font-size: 1em;
    margin-bottom: 2px;
}

.submit-button {
    width: 135px;
    margin-top: 5px;
    padding: 12px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1em;
    font-weight: bold;
    background-image: radial-gradient(circle, rgb(77, 179, 57), rgb(73, 124, 63), rgb(5, 66, 5));
    margin-left: auto;
    margin-right: auto;
}
.submit-button:hover {
    border: 3px solid black;
}
.submit-button:active {
    background-image: radial-gradient(circle, rgb(179, 177, 57), rgb(120, 124, 63), rgb(66, 62, 5));
}