@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lancelot&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-family:  'Karla', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}
